<header>
  <div class="header-container">
    <img class="header__logo" src="../../assets/img/logoYC.png" alt="logo">
    <input type="text" id="myInput" placeholder="Введите название товара или артикул">
    <span class="header__user-account">
      <img class="account-icon" src="../../assets/svg/user.svg" alt="user-account" />
      <label>Вход</label>
    </span>
    <span class="header__cart user-card">
      <img class="cartmenu-icon" src="../../assets/svg/shopping-cart.svg" alt="user-cartmenu" />
      <label>Корзина</label>
    </span>
  </div>
</header>



