  .logo {
    color: var(--accent-pink-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 48px;
    letter-spacing: -3px;
    text-transform: uppercase;
  }
