.item {
  height: 130px;
}

.buttons {
  position: relative;
  padding-top: 20px;
  margin-right: 50px;
  display: inline-block;
  .delete-btn {
    display: inline-block;
    cursor: pointer;
  }
  .delete-btn {
    width: 20px;
    height: 100px;
    background: url('../../../../assets/svg/close.svg') no-repeat top;
  }
}

.image {
  margin-right: 50px;
  display: inline-block;
  img {
    width: 120px;
  }
}

.description {
  margin-right: 50px;
  width: 300px;
  display: inline-block;
  align-items: center;
}

.description span {
  display: block;
  font-size: 20px;
  color: vat(--accent-grey-color);;
  font-weight: 400;
}

.description span:first-child {
  margin-bottom: 5px;
}

.description span:last-child {
  font-weight: 300;
  margin-top: 8px;
  color: vat(--accent-grey-color);
}

.quantity {
  // padding-top: 20px;
  margin-right: 50px;
  display: inline-block;
}

.quantity input {
  -webkit-appearance: none;
  border: none;
  text-align: center;
  width: 50px;
  height: 35px;
  font-size: 20px;
  color: var(--accent-grey-color);
  font-weight: 400;
}

button[class*=btn] {
  width: 35px;
  height: 35px;
  background-color: var(--primary-text-color);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
.minus-btn img,
.plus-btn img {
  padding: 5px;
}

button:focus,
input:focus {
  outline: 0;
}

.total-price {
  display: inline-block;
  padding-top: 27px;
  width: 83px;
  text-align: center;
  font-size: 24px;
  color: var(--accent-grey-color);
  font-weight: 400;
}

@media (max-width: 800px) {
  .item {
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .image img {
    width: 60%;
  }
  .image,
  .quantity,
  .description {
    width: 100%;
    text-align: center;
    margin: 6px 0;
  }
  .buttons {
    margin-right: 20px;
    .delete-btn {
      height: 30px;
    }
  }
}
