<div class="item">
  <div class="buttons">
    <span class="delete-btn" (click)="deleteItem(total.tovar)"></span>
    <span class="like-btn"></span>
  </div>

  <div class="image">
    <img [src] = [total.tovar.imgLink] alt="{{ total.tovar.vendorCode }}" />
  </div>

  <div class="description">
    <span class="title">{{ total.tovar.title }}</span>
    <span>Тип цены: {{ total.price }}</span>
    <span>Артикул: {{ total.tovar.vendorCode }}</span>
  </div>

  <div class="quantity">
    <button
      class="minus-btn"
      type="button"
      name="button"
      (click)="increaseQuantity(total.tovar)">
      <img src="../../assets/svg/minus.svg" alt="minus" />
    </button>
    <input type="text" name="name" value="{{ total.quantity }}">
    <button
      class="plus-btn"
      type="button"
      name="button"
      (click)="decreaseQuantity(total.tovar)">
      <img src="../../assets/svg/plus.svg" alt="plus" />
    </button>
  </div>

  <div class="total-price">{{ total.summ | currency }}</div>
</div>
