<div class="item">
  <div class="buttons">
    <span class="delete-btn"></span>
    <span class="like-btn"></span>
  </div>

  <div class="image">
    <img [src] = [total.tovar.imgLink] alt="{{ total.tovar.vendorCode }}" />
  </div>

  <div class="description">
    <span>{{ total.tovar.title }}</span>
    <span>Тип цены: {{ total.price }}</span>
    v<span>Артикул: {{ total.tovar.vendorCode }}</span>
  </div>

  <div class="quantity">
    <button class="plus-btn" type="button" name="button">
      <img src="../../assets/svg/plus.svg" alt="plus" />
    </button>
    <input type="text" name="name" value="{{ total.quantity }}">
    <button class="minus-btn" type="button" name="button">
      <img src="../../assets/svg/minus.svg" alt="minus" />
    </button>
  </div>

  <div class="total-price">{{ total.summ | currency }}</div>
</div>
